.App {
  text-align: center;
  background: #F7F7F6;
}

.AppBar {
  background-color: #ffffff !important;
  box-shadow: none !important;
}

.headerLogo {
  height: 53px;
  align-items: center;
  padding: 0 16px;
}

.headerImage {
  height: 20px;
  width: 145px;
}

.icons {
  flex: 2;
  text-align: right;
}

.menuIcon,
.gridIcon,
.searchIcon {
  color: #2D3C4D;
  margin-left: 12px;
}

.navigationPills {
  margin: 10px;
}

.navigationPill {
  font-size: 1rem !important;
}

.navigationPill.selected,
.category.selected {
  color: #116DB4 !important;
  border-color: #116DB4 !important;
}

.categories {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  margin: 0;
  padding: 20px;
  flex-wrap: wrap;
}

.category {
  font-size: 1rem !important;
  margin-right: 6px !important;
}

.skip {
  justify-content: end;
}

.skipButton {
  margin-right: 12px !important;
  margin-top: 12px !important;
}

.header1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: left;
  padding: 0 20px;
}

.header2 {
  font-size: 16px;
  color: #4B6179;
  text-align: left;
  padding: 0 20px;
}

.shopping {
  padding: 0 20px;
  position: sticky;
  bottom: 10px;
}

.shoppingButton {
  width: 100%;
}

.rating {
  display: flex;
  align-content: center;
  font-size: 14px;
  margin-left: 8px;
  color: #2D3C4D;
}

.ratingIcon {
  color: #FAB814;
  height: 20px !important;
}

.favorite {
  display: flex;
  color: #2D3C4D;
  flex: 2;
  justify-content: end;
}

.favoriteIcon {
  height: 20px !important;
}
