.App {
  text-align: center;
}

.categories {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  margin: 0;
  padding: 20px;
  flex-wrap: wrap;
}

.category {
  font-size: 1rem !important;
  margin-right: 6px !important;
}

.skip {
  justify-content: end;
}

.skipButton {
  margin-right: 12px !important;
  margin-top: 12px !important;
}

.header1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: left;
  padding: 0 20px;
}

.header2 {
  font-size: 16px;
  color: #4B6179;
  text-align: left;
  padding: 0 20px;
}

.shopping {
  padding: 0 20px;
  position: sticky;
  bottom: 10px;
}

.shoppingButton {
  width: 100%;
}