.App {
  text-align: center;
}

.categories {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  margin: 0;
  padding: 20px;
  flex-wrap: wrap;
}

.category {
  font-size: 1rem !important;
  margin-right: 6px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
